extends layout

block content
	<a-scene embedded artoolkit='sourceType: webcam;'>
	    <ar-marker patt="hiro" content="/img/woodland_wanderer_dribbble.gif"></armarker>
    	<a-box position='0 0.5 0' material='opacity: 0.5;'></a-box>
    	<a-marker-camera preset='hiro'></a-marker-camera>
    </a-scene>